[Desktop Entry]
Name=Koncentro
Comment=Focus manager and website blocker
Exec=/usr/bin/koncentro $KONCENTRO_AUTOSTART_ARGS
Icon=koncentro
Terminal=false
Type=Application
Categories=Utility;Office;Internet;
